@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #4fc08d;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  color: white;
  margin: 3rem;
  padding: 1rem;
  text-align: center;
}

#styling {
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 3rem;
  padding: 1rem;
  text-align: center;
}

.demo {
  border: 2px dashed #ccc;
  cursor: pointer;
  height: 100px;
  margin: 16px;
  width: calc(100% - 32px);
}

.active {
  border-color: palevioletred;
}
