@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

main {
  align-items: center;
  display: flex;
  justify-content: center;
}

.container-box {
  align-items: center;
  border-radius: 2px;
  box-shadow: 1px 2px 9px 3px rgba(0, 0, 0, 0.38);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3vh;
  padding: 5vh;
  -webkit-box-shadow: 1px 2px 9px 3px rgba(0, 0, 0, 0.38);
  width: fit-content;
}

.container-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  font-weight: 600;
  padding: 2vh;
}

.button-add-goal {
  background-color: rgb(49, 13, 59);
  border: none;
  border-radius: 2px;
  color: aliceblue;
  cursor: pointer;
  margin-top: 2vh;
  padding: 5px;
  width: 12vw;
}

.button-add-goal:hover {
  background-color: rgb(75, 32, 87);
}

.container-result {
  border-radius: 2px;
  margin-top: 4vh;
  width: 15vw;
}

li {
  margin: 4px;
  padding: 4px;
}

.result {
  list-style: circle;
}
