* {
  box-sizing: border-box;
}

html {
  font-family: "Jost", sans-serif;
}

body {
  margin: 0;
}

header {
  background-color: #4fc08d;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  color: white;
  margin: 3rem auto;
  max-width: 40rem;
  padding: 1rem;
  text-align: center;
  width: 90%;
}

.user-goal {
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 3rem auto;
  max-width: 40rem;
  padding: 1rem;
  text-align: center;
  width: 90%;
}

.user-goal-two {
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 3rem auto;
  max-width: 40rem;
  padding: 1rem;
  text-align: center;
  width: 90%;
}

.user-goal h2 {
  border-bottom: 4px solid #ccc;
  color: #4fc08d;
  font-size: 2rem;
  margin: 0 0 1rem 0;
  padding-bottom: 8px;
}

.user-goal-two h2 {
  border-bottom: 4px solid #ccc;
  color: #4fc08d;
  font-size: 2rem;
  margin: 0 0 1rem 0;
  padding-bottom: 8px;
}

.user-goal p {
  background-color: #4fc08d;
  border: 1px solid #4fc08d;
  border-radius: 25px;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.5rem;
}

.user-goal-two p {
  background-color: #4fc08d;
  border: 1px solid #4fc08d;
  border-radius: 25px;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.5rem;
}

.user-goal a {
  color: #2e7e5a;
  cursor: pointer;
  text-decoration: none;
}

.user-goal-two a {
  color: #2e7e5a;
  cursor: pointer;
  text-decoration: none;
}

.user-goal a:hover {
  color: #bde2d1;
}

.user-goal-two a:hover {
  color: #bde2d1;
}

.user-goal input {
  border: 1px solid #ccc;
  font: inherit;
}

.user-goal input:focus {
  background-color: #d7fdeb;
  border-color: #1b995e;
  outline: none;
}

.user-goal button {
  background-color: #ff0077;
  border: 1px solid #ff0077;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
  color: white;
  cursor: pointer;
  font: inherit;
  padding: 0.05rem 1rem;
}

.user-goal button:hover,
.user-goal button:active {
  background-color: #ec3169;
  border-color: #ec3169;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}
