@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #1b995e;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  color: white;
  margin: 3rem;
  padding: 1rem;
  text-align: center;
}

#assignment {
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 3rem;
  padding: 1rem;
  text-align: center;
}

#assignment h2 {
  border-bottom: 4px solid #ccc;
  color: #1b995e;
  font-size: 2rem;
  margin: 0 0 1rem 0;
}

#assignment p {
  background-color: #8ddba4;
  border-radius: 25px;
  color: #1f1f1f;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.5rem;
}

#assignment input {
  border: 1px solid #ccc;
  font: inherit;
}

#assignment input:focus {
  background-color: #d7fdeb;
  border-color: #1b995e;
  outline: none;
}

#assignment button {
  background-color: #ff0077;
  border: 1px solid #ff0077;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
  color: white;
  cursor: pointer;
  font: inherit;
  margin: 1vw;
  padding: 0.05rem 1rem;
}

#assignment button:hover,
#assignment button:active {
  background-color: #ec3169;
  border-color: #ec3169;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}
