@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

#app {
  margin: 16px;
  display: flex;
  flex-direction: column;
}

.column {
  margin-top: 15px;
}

span {
  display: block;
}

input {
  padding: 4px;
  border: none;
  border-radius: 4px;
  background-color: rgb(218, 216, 216);
  color: gray;
}

input:focus {
  border: none;
  outline: 2px solid gray;
}
