<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/origamid/fetch.css" />
    <title>Vue JS Fetch</title>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <p>Company: {{ apple.companyName }}</p>
        <p>Market Cap: {{ apple.marketCap }}</p>
      </div>
      <hr />
      <div class="container">
        <p>Company: {{ google.companyName }}</p>
        <p>Market Cap: {{ google.marketCap }}</p>
      </div>
      <h2>Am I a smally cat?</h2>
      <button @click="setSmell()">Set Henrique Smell</button>
      <p v-if="fedido === true" class="brown">Yes, I am</p>
      <p v-else class="pink">
        unfortunately, in this moment, I have a good smell
      </p>
      <button @click="setSmellTaiza()">Set Taiza Smell</button>
      <p v-if="taiza === true" class="brown">
        I actually, ALWAYS have a good smell
      </p>
      <p v-else class="pink">
        fortunately, in this moment, and, of course, EVERY moment, I have a good
        smell
      </p>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="/js/origamid/fetch.js"></script>
  </body>
</html>
