<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Goals</title>
    <link rel="stylesheet" href="/styles/normalize.css" />
    <link rel="stylesheet" href="/styles/basics-core-concepts/goals.css" />
  </head>
  <body>
    <main>
      <div id="app" class="container-box">
        <label for="goal"> Goal </label>
        <input type="text" id="goal_typed" v-model="enteredValue" />
        <button @click="addGoal" class="button-add-goal">Add Goal</button>
        <ul class="result">
          <li v-for="goal of goals">{{ goal }}</li>
        </ul>
      </div>
    </main>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="/js/basics-core-concepts/app.js"></script>
  </body>
</html>
