<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sum and Subtract</title>
    <link rel="stylesheet" href="/styles/normalize.css" />
    <link rel="stylesheet" href="/styles/basics-core-concepts/sumAndSubtract.css" />
  </head>
  <body>
    <main>
      <section class="section-sum-subtract">
        <h1>Type a number</h1>
        <input type="text" v-model="enteredValue" v-on:input="setNumber" />
        <input
          class="space"
          type="text"
          v-model="nameTyped"
          @input="tellMeName($event, lastNameTyped)"
          @keyup="confirmInput"
          :value="nameTyped"
        />
        <input
          class="space"
          type="text"
          :value="lastNameTyped"
          v-model="lastNameTyped"
        />
        <button @click="resetInput">Reset Input</button>
        <button @click="sum()">Sum 5</button>
        <button @click="subtract()">Subtract 5</button>
        <p class="result">Result sum: {{ sumResult }}</p>
        <p class="result">Result subtract: {{ subtractResult }}</p>
        <p class="result">{{ numberTyped }}</p>
        <p class="result">{{ fullName }}</p>
      </section>
    </main>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="/js/basics-core-concepts/appFive.js"></script>
  </body>
</html>
