@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #e2e2e2;
}

.my-title {
  text-align: center;
  padding: 10px;
}

.boxes {
  margin-top: 8vh;
}

.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

input {
  padding: 5px;
}

button {
  background-color: #f05454;
  border: none;
  border-radius: 2px;
  color: #f5f5f5;
  cursor: pointer;
  margin-left: 5px;
  padding: 6.3px;
}

button:hover {
  background-color: #30475e;
}

h1 {
  color: #121212;
}

h3 {
  color: #121212;
}

p {
  color: #121212;
}
