@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #e2e2e2;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg-title {
  background-color: #f05454;
  border-radius: 5px;
  padding: 2%;
  margin: 2%;
}

h1 {
  color: #f5f5f5;
}

h2 {
  color: #30475e;
  text-align: center;
}

.el-col {
  display: flex;
  flex-direction: column;
}

input {
  padding: 2%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 2px;
  border-bottom-color: #634444;
}

input:focus {
  outline: 1.5px solid #f05454;
  outline-style: dotted;
  border-radius: 2px;
}

button {
  background-color: #121212;
  border: none;
  border-radius: 4px;
  color: #f5f5f5;
  cursor: pointer;
  margin-top: 1.5vh;
  padding: 4% 0 4% 0;
}

button:hover {
  background-color: #30475e;
}

ul {
  list-style: none;
}

li {
  padding: 3px;
}

img {
  height: 16px;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

.hidden {
  visibility: hidden;
}

.visibleMessage {
  visibility: visible;
}

.reset {
  background-color: #f5f5f5;
  color: #f05454;
}

.reset:hover {
  color: #f5f5f5;
}
