@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

section {
    display: flex;
    flex-direction: row;
}

.second-space {
    padding: 1%;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 8px 0px 4px 0px;
}