@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    -webkit-box-shadow: 0px 3px 11px 5px #DAD5F7; 
    box-shadow: 0px 3px 11px 5px #DAD5F7;
    margin-top: 15%;
    margin-left: 35%;
    width: 30vw;
}

input {
    border: 1px solid rgb(34, 28, 95);
    border-radius: 4px;
    padding: 4px;
    color: rgb(34, 28, 95);
}

input:focus {
    outline: 1px solid rgb(34, 28, 95);
}

button {
    color: rgb(34, 28, 95);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color:rgb(204, 197, 243);
    padding: 10px;
    margin-top: 2vh;
    width: 11vw;
}

button:hover {
    background-color:rgb(218, 213, 247);
}