@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vh;
    width: fit-content;
    margin-top: 3vh;
    border-radius: 2px;
    -webkit-box-shadow: 1px 2px 9px 3px rgba(0,0,0,0.38); 
    box-shadow: 1px 2px 9px 3px rgba(0,0,0,0.38);
}

.container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    padding: 2vh;
    font-weight: 600;
}

.button-add-goal {
    background-color: rgb(49, 13, 59);
    border: none;
    border-radius: 2px;
    color: aliceblue;
    cursor: pointer;
    margin-top: 2vh;
    padding: 5px;
    width: 12vw;
}

.button-add-goal:hover {
    background-color: rgb(75, 32, 87);
}

.container-result {
    width: 15vw;
    border-radius: 2px;
    margin-top: 4vh;
}

li {
    padding: 4px;
    margin: 4px;
}

.result {
    list-style: circle;
}